<!DOCTYPE html>
<html class="creator-lg bg-cover">
<head>
    <site:head files="Shared.css, IndexLayout.css" />

    @await RenderSectionAsync("STYLE", required: false)
</head>
<body>
    <site:pre />

    <div id="BlogLinkWrap">
        <a href="https://blog.sltech.no" title="Blog">
            <icon awesome="ArrowLeft" />&nbsp;&nbsp;<icon awesome="Globe" /><span class="label">Blog</span>
        </a>
    </div>

    <div class="main-content">
        <div class="content-wrap">
            <header>
                <site:set-culture-common position="Right" />

                <a asp-controller="SLT" asp-action="Index" title="@Utility.LocalValue["WordHome"].Value" class="flex-center">
                    <slt:logo />
                </a>
            </header>

            <main role="main">
                @RenderBody()
            </main>
        </div>

        <footer class="align-center">
            <partial name="/Views/Shared/Footer.cshtml" />
        </footer>
    </div>

    <site:footer />

    @await RenderSectionAsync("SCRIPT", required: false)
</body>
</html>
