<!DOCTYPE html>
<html lang="no" class="creator-xxl">
<head>
    <site:head />

    @await RenderSectionAsync("STYLE", required: false)
</head>
<body>
    <site:pre />

    <div id="PageWrap">
        <site:set-culture-common position="Right" />

        <div id="ContentWrap">
            <main role="main" class="pad-xxl-top">
                @RenderBody()
            </main>
        </div>

        <site:gdpr />

        <footer>
            <site:footer />


        </footer>
    </div>

    @await RenderSectionAsync("SCRIPT", required: false)
</body>
</html>
