<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SLT.Home.Spirit</title>

    @await RenderSectionAsync("STYLE", required: false)
</head>
<body>
    @RenderBody()

    @await RenderSectionAsync("SCRIPT", required: false)
</body>
</html>
