<!DOCTYPE html>
<html class="creator bg-cover">
<head>
    <site:head files="Shared.css, Layout.css" />

    @await RenderSectionAsync("STYLE", required: false)
</head>
<body>
    <site:pre />

    <div class="main-content">
        <div class="content-wrap">
            <header>
                <site:set-culture-common position="Right" />

                <div class="flex-center-center">
                    <a id="BackLink" asp-controller="SLT" asp-action="Index" title="@Utility.LocalValue["WordHome"].Value"]"><icon awesome="ArrowLeft" /> </a>
                    <a asp-controller="SLT" asp-action="Index" title="@Utility.LocalValue["WordHome"].Value" class="flex-center"><slt:logo /></a>
                </div>
                <div id="TitleWrap" class="align-center">
                    <h1>// @ViewData["Title"]</h1>
                </div>
            </header>

            <main role="main">
                @RenderBody()
            </main>
        </div>

        <footer>
            <partial name="/Views/Shared/Footer.cshtml" />
        </footer>
    </div>

    <site:footer />

    @await RenderSectionAsync("SCRIPT", required: false)
</body>
</html>
