@use "sass:map" as map;
@use "Creator//Media" as media;
@use "Shared//Colors" as clr;

@font-face {
    font-family: BrandFont;
    src: url("CronosPro-Capt.otf");
}

#BlogLinkWrap {
    font-size: 0.8rem;
    padding-top: 4px;
    padding-left: 6px;

    & > a {
        text-decoration: none;
        transition: all 2ms ease-in-out;
        color: clr.color(LightOrange) !important;

        &:hover {
            cursor: pointer;
            color: clr.color(Light);
        }

        & span.label {
            position: relative;
            top: -2px;
        }

        & i.globe {
            margin-right: 3px;
        }

        &:visited {
            color: clr.color(MediumLight);
        }
    }
}

div.section-services {
    background-color: clr.color(Yellow);
    text-align: center;

    & > h2.slogan {
        font-size: 1rem;
    }

    & > div.list-wrap > h3 {
        font-size: 0.8rem;
    }
}

div.section-one {
    & > div.product-icon-wrap {
        & > div {
            margin-left: 37px;
            text-align: center;

            & span.name {
                font-size: 11px;
                font-weight: bold;
            }
        }
    }
}

div.section-two {
    & .section-label > .section-icon {
        position: relative;
        top: -2px;
    }

    & div.tech-logo-wrap {
        & > img {
            margin: 4px;
        }
    }
}

div.section-one, div.section-two {
    background-color: clr.color(DarkAlternative);
}

div.section-services, div.section-one, div.section-two {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 10px;
    padding-top: 20px;
    margin-bottom: 20px;

    & .section-label {
        font-family: BrandFont;
        font-size: 1.2rem;
        color: clr.color(Dark);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 24px;

        & .section-icon {
            font-size: 1.3rem;
            margin-right: 4px;
        }
    }

    & > div.read-more-wrap {
        text-align: center;
        margin-top: 40px;
        margin-bottom: 60px;
    }
}

hr.separator {
    width: 66%;
    opacity: 8;
    margin-bottom: 20px;
}

@include media.media() {
    div.section-services {
        & > h2.slogan {
            font-size: 2.2rem;
        }

        & > div.list-wrap > h3 {
            font-size: 1.2rem;
        }
    }

    div.section-one {
        & > div.product-icon-wrap {
            & > div {
                text-align: center;

                & span.name {
                    font-size: 14px;
                }
            }
        }
    }

    div.section-two {
        & div.tech-logo-wrap {
            & > img {
                margin: 11px;
            }
        }
    }

    div.section-services, div.section-one, div.section-two {
        width: 67%;
        padding-top: 36px;
        margin-bottom: 50px;

        & .section-label {
            font-size: 3rem;
            margin-bottom: 50px;

            & .section-icon {
                font-size: 3.4rem;
                margin-right: 6px;
            }
        }

        & > div.read-more-wrap {
            text-align: center;
            margin-top: 46px;
            margin-bottom: 80px;
        }
    }

    hr.separator {
        margin-bottom: 40px;
    }
}
