@use "Creator//Media" as media;

#BackLink {
    position: relative;
    top: -18px;
    left: -30px;
}

#TitleWrap {
    padding: 12px;
    background-color: #b6e6f3;

    & > h1 {
        font-size: 1rem;
    }
}

main {
    width: 100%;
}

@include media.media() {
    main {
        width: 88%;
    }

    #TitleWrap {
        & > h1 {
            font-size: 1.7rem;
        }
    }
}
