@use "Creator//Media" as creator;
@use "Shared//Colors" as color;
@use "sass:map" as map;

@font-face {
    font-family: BrandFont;
    src: url("CronosPro-Capt.otf");
}

body {
    color: map.get(color.$clrs, Dark);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#SLTechLogo {
    display: inline-block;

    & > div.content-wrap {
        display: grid;
        grid-template-columns: 64px 1fr;
        grid-template-rows: auto auto;
        grid-gap: 10px;

        & > img.logo {
            width: 100%;
            position: relative;
            top: 19px;
        }

        & > .slt-name {
            color: map.get(color.$clrs, Dark);
            font-family: BrandFont;
            font-size: 2.8rem;
        }

        & > .sl-name {
            color: map.get(color.$clrs, Lighter);
            font-family: BrandFont;
            font-size: 1rem;
            margin: 0px;
            grid-column: 2;
            position: relative;
            top: -33px;
            left: 10px;
        }
    }
}

#AssetsSetCultureCommonWrap {
    & img.flag {
        width: 30px;
        margin-right: 8px;
        margin-top: 6px;
    }
}

.read-button {
    $padVer: 9px;
    $padHor: 28px;

    padding-top: $padVer;
    padding-bottom: $padVer;
    padding-left: $padHor;
    padding-right: $padHor;
    border: 2px solid map.get(color.$clrs, MediumLight);
    background-color: map.get(color.$clrs, Lighter);
    color: #09395b;
    font-size: 15px;
    position: relative;
    top: 20px;

    &:hover {
        background-color: rgba(map.get(color.$clrs, Lighter), 0.7);
    }

    & > i.assets-icon.info-circle {
        position: relative;
        margin-right: 10px;
    }
}

a {
    text-decoration: none;
}

footer {
    $clr: map.get(color.$clrs, DarkAlternative);

    color: $clr;
    padding: 30px;

    & a {
        color: $clr;

        &:hover {
            color: map.get(color.$clrs, Dark);
        }
    }

    & i.assets-icon {
        margin-right: 1px;
    }

    & img.tech-logo {
        width: 20px !important;
        position: relative;
        top: 5px;
    }

    & span.separator {
        position: relative;
        top: -14px;
    }

    & i.assets-icon.envelope-full {
        position: relative;
        top: 2px;
    }
}

@include creator.media() {
    #AssetsSetCultureCommonWrap {
        & img.flag {
            width: 51px;
        }
    }

    footer {
        & span.separator {
            $mrg: 8px;

            margin-right: $mrg;
            margin-left: $mrg;
            top: unset;
        }

        & i.assets-icon {
            margin-right: 6px;
        }
    }
}
