div.section-one {
  display: grid;
  grid-template-columns: 1fr;
}
div.section-one div.txt-one {
  padding: 8px;
  font-size: 17px;
}
div.section-one div.txt-one ul.info-list {
  display: unset;
}

.read-button {
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 28px;
  padding-right: 28px;
  border: 2px solid #0094ff;
  background-color: #88c9f7;
  color: #09395b;
  font-size: 15px;
}
.read-button:hover {
  background-color: #7cb0d4;
}
.read-button > i.assets-icon.info-circle {
  position: relative;
  margin-right: 10px;
}

div.products-wrap {
  margin-top: 42px;
}
div.products-wrap a.prod-item-wrap {
  margin-left: 24px;
  margin-right: 24px;
}
div.products-wrap a.prod-item-wrap img.prod-img-one {
  position: relative;
  left: -10px;
}
div.products-wrap a {
  color: #031d2f;
}
div.products-wrap div.product-icon-wrap h5 {
  font-size: 14px;
}
div.products-wrap div.tech-logo-wrap > img {
  margin-left: 5px;
  margin-right: 5px;
}

@media (min-width: 768px) {
  div.section-one {
    grid-template-columns: 1fr 2fr;
  }
  div.section-one div.txt-one {
    padding: 22px;
    font-size: 24px;
  }
  div.section-one div.txt-one ul.info-list {
    margin: 0;
    padding: 0;
    display: flex;
  }
  div.section-one div.txt-one ul.info-list li {
    margin-right: 40px;
  }
}